## Loading Data

In [26]:
import pandas as pd
import numpy as np

import string
import re

import warnings

warnings.filterwarnings('ignore')

RSEED = 42

In [27]:
df = pd.read_pickle("../data/preprocess_train_dimbat.pkl")

In [28]:
df.sample(30)

,id,text,relevance,text_clean,lemmas,text_lemma
78189,'382816850884960256',with <HASHTAG> pakistan pm nawaz sharif. offer...,2,with pakistan pm nawaz sharif. offered condol...,"[pakistan, pm, nawaz, sharif, offer, condolenc...",pm offer condolence earthquake reiterate suppo...
68980,'511458207730921472',hey putin! didn't you try this humanitarian th...,4,hey putin! didn't you try this humanitarian th...,"[hey, putin, try, humanitarian, thing, georgia...",hey putin try humanitarian thing georgia work ...
127477,295847942059864064,video i took today of the <HASHTAG> flood ragi...,3,video i took today of the flood raging near m...,"[video, I, today, flood, rage, near, I, queens...",video I flood rage near I queensland
37579,'323934973046452224',<USER> boston loves you <HASHTAG> prayforbosto...,7,boston loves you prayforboston i'm so happy ...,"[boston, love, prayforboston, I, happy, I, mom...",love prayforboston I happy I moment sad happen...
71594,913616388740153346,"hurricane maria, puerto rico - red wine ! than...",4,"hurricane maria, puerto rico - red wine ! than...","[hurricane, maria, puerto, rico, red, wine, th...",puerto wine thank
32531,735107007275925504,lmao best shit ever sad but true <URL>,0,lmao best shit ever sad but true,"[lmao, good, shit, sad, true]",lmao good shit sad true
12099,174108344464850944,<USER> if only the knew about your other life lol,0,if only the knew about your other life lol,"[know, life, lol]",know life lol
63729,'540045572208459777',comparing the actual path of <HASHTAG> yolanda...,4,comparing the actual path of yolanda with one...,"[compare, actual, path, yolanda, project, rubyph]",compare actual path
57088,128514926032592896,omg there comin out with a happy feet 2,0,omg there comin out with a happy feet 2,"[omg, comin, happy, foot]",omg comin happy foot
105634,301914365408448512,today stats: one new follower via <URL>,0,today stats: one new follower via,"[today, stat, new, follower]",stat new follower
103922,567154274677706752,<NUMBER> crazy facts about the world’s most in...,0,crazy facts about the world’s most incredible...,"[crazy, fact, world, incredible, burial, sites...",crazy fact world incredible burial hip actuall...
5144,'591902891495038977',effects of earthquake 'devastating' says deane...,2,effects of earthquake 'devastating' says deane...,"[effect, earthquake, devastating, deanery, nep...",effect earthquake devastating deanery nepal an...
51516,'324913351471800322',my heart goes out to the victims of the explos...,6,my heart goes out to the victims of the explos...,"[heart, victim, explosion, west, texas, yester...",heart victim explosion family sad sad
110340,702201330266415104,"oh ukulele, i promise to never lego of you! <H...",0,"oh ukulele, i promise to never lego of you! l...","[oh, ukulele, I, promise, lego, london, ukulel...",oh ukulele I promise ukulele uke
24943,429476536614273024,where you been all my life  <REPEAT>,0,where you been all my life ,[life],life
143239,'263313248718319617',this stopped being fun over <NUMBER> hours ago...,4,this stopped being fun over hours ago. give m...,"[stop, fun, hour, ago, I, power]",stop I power
91966,172431842098675712,lakers be showin they ass but when they get on...,0,lakers be showin they ass but when they get on...,"[laker, showin, ass, roll, hold]",laker showin ass roll hold
35576,'324550071121227778',how parents are talking about the boston bombi...,7,how parents are talking about the boston bombi...,"[parent, talk, boston, bombing, kid]",parent talk bombing kid
91614,962060465089032192,win a <NUMBER> <USER> voucher with <USER> <HAS...,0,win a voucher with chadvalleyplaypanel gi...,"[win, voucher, chadvalleyplaypanel, giveaway, ...",win voucher
128109,295764290844110848,prays r with all the peeps who live in <HASHTA...,3,prays r with all the peeps who live in queens...,"[pray, r, peep, live, queensland, let, hope, h...",pray r peep live queensland let hope hr arnt g...
70664,911493372866551808,hurricane maria: woman and children stranded o...,4,hurricane maria: woman and children stranded o...,"[hurricane, maria, woman, child, strand, vesse...",hurricane maria woman child strand vessel rescue
71603,913688191957438464,such a small thing: <HASHTAG> julesverne weath...,4,such a small thing: julesverne weathered the ...,"[small, thing, julesverne, weather, storm, hur...",small thing julesverne weather storm
95751,380033877185552384,flood resource table for students &amp; the <H...,3,flood resource table for students the cuboul...,"[flood, resource, table, student, cuboulder, c...",flood resource table student community boulder...
55106,731921603202850816,<USER> my <HASHTAG> teenchoice nominee for <HA...,0,my teenchoice nominee for socialmediaqueen ...,"[teenchoice, nominee, socialmediaqueen]",nominee socialmediaqueen
8405,156803820989591552,<URL> twitter seeks political sales execs in w...,0,twitter seeks political sales execs in washin...,"[twitter, seek, political, sale, exec, washing...",twitter seek political sale exec hire develop ...
128426,296084986593935360,well !the next news was about <HASHTAG> austra...,3,well !the next news was about australia that ...,"[news, australia, set, fire, face, flood, lose...",set fire face flood lose economy humanstoo
5371,'591902987179655168',<URL> like and share facebook fan page thanks ...,2,like and share facebook fan page thanks for a...,"[like, share, facebook, fan, page, thank, amaz...",like share facebook fan page thank shopping su...
65333,22710383001210880,<USER> jase said no william lol,0,jase said no william lol,"[jase, william, lol]",lol
153796,72700219338395648,<USER> @kmaaouni we are evaluating office <NUM...,0,@kmaaouni we are evaluating office for educa...,"[evaluate, office, education, considere, googl...",evaluate office education considere google app...
133625,'498512435767025665',<HASHTAG> openfollow deadly monsoon hits india...,3,"openfollow deadly monsoon hits india, nepal ...","[openfollow, deadly, monsoon, hit, india, nepa...",openfollow deadly monsoon hit followback

In [29]:
df["relevance"].value_counts()

0     81859
4     30365
2     16547
3     14210
7      5842
6      4844
5      3220
1      3053
8      2352
9       762
10      664
Name: relevance, dtype: int64

## Labels
- biological --- 1
- earthquake --- 2
- flood --- 3
- hurricane & tornado --- 4
- wildfire --- 5
- industrial --- 6
- societal --- 7
- transportation --- 8
- meteor --- 9
- haze --- 10

In [30]:
df_biological = df.loc[df["relevance"] == 1]
df_earthquake = df.loc[df["relevance"] == 2]
df_flood = df.loc[df["relevance"] == 3]
df_ht = df.loc[df["relevance"] == 4]
df_wildfire = df.loc[df["relevance"] == 5]
df_industrial = df.loc[df["relevance"] == 6]
df_societal = df.loc[df["relevance"] == 7]
df_transportation = df.loc[df["relevance"] == 8]
df_meteor = df.loc[df["relevance"] == 9]
df_haze = df.loc[df["relevance"] == 10]

In [31]:
df_biological.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3053 entries, 1554 to 11865
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3053 non-null   object
 1   text        3053 non-null   object
 2   relevance   3053 non-null   int64
 3   text_clean  3053 non-null   object
 4   lemmas      3053 non-null   object
 5   text_lemma  3053 non-null   object
dtypes: int64(1), object(5)
memory usage: 167.0+ KB

In [32]:
df_biological.sample(5)

,id,text,relevance,text_clean,lemmas,text_lemma
2257,'460527650516504577',<NUMBER> frequently asked questions about <HAS...,1,frequently asked questions about mers and th...,"[frequently, ask, question, mer, answer]",frequently ask question answer
2720,'460606818545590272',"and so, it has begun in <HASHTAG> mangalore: m...",1,"and so, it has begun in mangalore: mers disea...","[begin, mangalore, mer, disease, screening, pa...",begin mangalore mer disease screening passenge...
11820,'497088356736434176',cdc: ebola questions andâ answers <URL>,1,cdc: ebola questions andâ answers,"[cdc, ebola, question, andâ, answer]",question answer
2023,'460474247824293888',the cdc have confirmed the first known case of...,1,the cdc have confirmed the first known case of...,"[cdc, confirm, know, case, deadly, infectious,...",confirm know case deadly infectious disease
1566,'460398096309309440',how many people can explain the difference bet...,1,how many people can explain the difference bet...,"[people, explain, difference, mer, mer, compan...",people explain difference company infection di...

In [33]:
df_earthquake.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16547 entries, 4212 to 163433
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          16547 non-null  object
 1   text        16547 non-null  object
 2   relevance   16547 non-null  int64
 3   text_clean  16547 non-null  object
 4   lemmas      16547 non-null  object
 5   text_lemma  16547 non-null  object
dtypes: int64(1), object(5)
memory usage: 904.9+ KB

In [34]:
df_earthquake.sample(5)

,id,text,relevance,text_clean,lemmas,text_lemma
79292,'382832753974050816',magnitude <NUMBER> <HASHTAG> quake strikes pak...,2,magnitude quake strikes pakistan - usgs. see...,"[magnitude, quake, strike, pakistan, usgs, new...",magnitude quake strike usgs news earthquake
86404,591902714893729793,nepal earthquake: death toll exceeds <NUMBER> ...,2,nepal earthquake: death toll exceeds 500 â°ã...,"[nepal, earthquake, death, toll, exceed, roll,...",nepal earthquake death toll exceed roll report...
5677,'591903042481491968',"if you're worried about loved ones in nepal, t...",2,"if you're worried about loved ones in nepal, t...","[worried, love, nepal, app, help, wake, devast...",worried love nepal app help wake devastating e...
155230,'503643753245331456',<HASHTAG> california: expert calls for diablo ...,2,california: expert calls for diablo canyon n...,"[california, expert, diablo, canyon, nuclear, ...",expert diablo canyon nuclear plant earthquake
88150,592068917582893056,om shanti for the departed souls <HASHTAG> nepal,2,om shanti for the departed souls nepal,"[om, shanti, depart, soul, nepal]",depart

In [35]:
df_flood.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14210 entries, 83204 to 141369
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          14210 non-null  object
 1   text        14210 non-null  object
 2   relevance   14210 non-null  int64
 3   text_clean  14210 non-null  object
 4   lemmas      14210 non-null  object
 5   text_lemma  14210 non-null  object
dtypes: int64(1), object(5)
memory usage: 777.1+ KB

In [36]:
df_flood.sample(5)

,id,text,relevance,text_clean,lemmas,text_lemma
83577,232998930772791296,acct <HASHTAG> bpi <NUMBER> 5357 <NUMBER> mb <...,3,acct bpi 5357 mb 3 /bdo 45905/pnb 856 7,"[acct, bpi, mb, pnb]",acct bpi mb pnb
134023,'498498241239871488',asia shares up after wall street recovers from...,3,asia shares up after wall street recovers from...,"[asia, share, wall, street, recover, ukraine, ...",asia share wall street recover drive slide
98661,'349555043957080065',join our <USER> community for <HASHTAG> yycflo...,3,join our community for yycflood cleanup this...,"[join, community, yycflood, cleanup, come, fri...",join community yycflood cleanup come
127332,295866476106219521,"<HASHTAG> dmcrss baby stuffed in bag, hoisted ...",3,"dmcrss baby stuffed in bag, hoisted from floo...","[dmcrss, baby, stuff, bag, hoist, flood, austr...",baby stuff bag hoist flood powerful storm lead...
127953,296468575525421057,<HASHTAG> nation ? man's body found in lockyer...,3,nation ? man's body found in lockyer valley: ...,"[nation, man, body, find, lockyer, valley, dea...",nation man body find lockyer valley death toll...

In [37]:
df_ht.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30365 entries, 17820 to 148374
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          27605 non-null  object
 1   text        30365 non-null  object
 2   relevance   30365 non-null  int64
 3   text_clean  30365 non-null  object
 4   lemmas      30365 non-null  object
 5   text_lemma  30365 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.6+ MB

In [38]:
df_ht.sample(5)

,id,text,relevance,text_clean,lemmas,text_lemma
27382,909802090360213505,hurricane irma: chabad naples volunteers help ...,4,hurricane irma: chabad naples volunteers help ...,"[hurricane, irma, chabad, naples, volunteer, h...",hurricane volunteer help storm cleanup
63618,'540042552850644992',location and information on current evacuation...,4,location and information on current evacuation...,"[location, information, current, evacuation, c...",location information current evacuation center...
63592,'540042019201351680',philippines brace for another powerful typhoon...,4,philippines brace for another powerful typhoon...,"[philippine, brace, powerful, typhoon, fox, news]",brace powerful typhoon fox news
145414,'263068731306020865',hurricane sandy blowing everyone @sandersrofl,4,hurricane sandy blowing everyone @sandersrofl,"[hurricane, sandy, blow]",hurricane sandy blow
146569,'262905749469020160',for my hurricane <HASHTAG> sandy updates i jus...,4,for my hurricane sandy updates i just watch o...,"[hurricane, sandy, update, I, watch, ollie, wi...",hurricane sandy update I watch clips

In [39]:
df_wildfire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3220 entries, 112676 to 158886
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3220 non-null   object
 1   text        3220 non-null   object
 2   relevance   3220 non-null   int64
 3   text_clean  3220 non-null   object
 4   lemmas      3220 non-null   object
 5   text_lemma  3220 non-null   object
dtypes: int64(1), object(5)
memory usage: 176.1+ KB

In [42]:
df_industrial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4844 entries, 50872 to 109643
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4844 non-null   object
 1   text        4844 non-null   object
 2   relevance   4844 non-null   int64
 3   text_clean  4844 non-null   object
 4   lemmas      4844 non-null   object
 5   text_lemma  4844 non-null   object
dtypes: int64(1), object(5)
memory usage: 264.9+ KB

In [43]:
df_societal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5842 entries, 33240 to 139814
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5842 non-null   object
 1   text        5842 non-null   object
 2   relevance   5842 non-null   int64
 3   text_clean  5842 non-null   object
 4   lemmas      5842 non-null   object
 5   text_lemma  5842 non-null   object
dtypes: int64(1), object(5)
memory usage: 319.5+ KB

In [44]:
df_transportation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2352 entries, 0 to 136922
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2352 non-null   object
 1   text        2352 non-null   object
 2   relevance   2352 non-null   int64
 3   text_clean  2352 non-null   object
 4   lemmas      2352 non-null   object
 5   text_lemma  2352 non-null   object
dtypes: int64(1), object(5)
memory usage: 128.6+ KB

In [45]:
df_transportation.sample(5)

,id,text,relevance,text_clean,lemmas,text_lemma
109994,354967944696041474,from <USER> on lac-megantic: neither pipelines...,8,from on lac-megantic: neither pipelines nor r...,"[lac, megantic, pipeline, railcar, r, likely, ...",lac megantic pipeline railcar r likely disappe...
136337,407171766445162496,"new york train crash: of <NUMBER> people hurt,...",8,"new york train crash: of people hurt, critic...","[new, york, train, crash, people, hurt, critic...",crash people hurt critical metro north derail...
616,407451677499723777,"the first parts of the helicopter, which tragi...",8,"the first parts of the helicopter, which tragi...","[helicopter, tragically, crash, glasgow, pub, ...",tragically crash glasgow pub remove inspection
136341,407172685001928704,it anybody is taking amtrak back to plattsburg...,8,it anybody is taking amtrak back to plattsburg...,"[anybody, amtrak, plattsburgh, find, mean, run...",anybody find mean run derailment
110109,356480599466328064,"while the people of lac megantic mourned, trol...",8,"while the people of lac megantic mourned, trol...","[people, lac, megantic, mourn, troll, seek, we...",people lac megantic mourn troll seek weaponize...

In [46]:
df_meteor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 762 entries, 81412 to 82173
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          762 non-null    object
 1   text        762 non-null    object
 2   relevance   762 non-null    int64
 3   text_clean  762 non-null    object
 4   lemmas      762 non-null    object
 5   text_lemma  762 non-null    object
dtypes: int64(1), object(5)
memory usage: 41.7+ KB

In [47]:
df_haze.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 664 entries, 137672 to 138335
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          664 non-null    object
 1   text        664 non-null    object
 2   relevance   664 non-null    int64
 3   text_clean  664 non-null    object
 4   lemmas      664 non-null    object
 5   text_lemma  664 non-null    object
dtypes: int64(1), object(5)
memory usage: 36.3+ KB

In [48]:
df_biological.to_pickle("../data/preprocess_train_dimbat_re1.pkl")
df_earthquake.to_pickle("../data/preprocess_train_dimbat_re2.pkl")
df_flood.to_pickle("../data/preprocess_train_dimbat_re3.pkl")
df_ht.to_pickle("../data/preprocess_train_dimbat_re4.pkl")
df_wildfire.to_pickle("../data/preprocess_train_dimbat_re5.pkl")
df_industrial.to_pickle("../data/preprocess_train_dimbat_re6.pkl")
df_societal.to_pickle("../data/preprocess_train_dimbat_re7.pkl")
df_transportation.to_pickle("../data/preprocess_train_dimbat_re8.pkl")
df_meteor.to_pickle("../data/preprocess_train_dimbat_re9.pkl")
df_haze.to_pickle("../data/preprocess_train_dimbat_re10.pkl")